<div class="container">
<h2>About Us</h2><br>
<h3>Who we are</h3>
<p>We are a personal/company service finder that can help you locate the best services in your area</p>
<h3>Our Mission</h3>
<p>We strive to help every day people not over pay for a service and save as much money as they can</p>
<p>To get started go to your newsfeed and check out all our local services</p>
</div>