<style>
	.cbox {
		margin-top: 10%;
	}
	.ccontain {
		margin-top: 5%;
	}
</style>

<div class="container animated bounceInRight">
<h2>Checkout</h2>
	<div class="ccontain">
		<h4>Thank you for choosing this service !</h4>
		<p>If you have any questions you can enter your comments below</p>
		<h3><%= @inst.title %></h3>
		<p><%= @inst.description %></p>
		<p>Total = <%= @inst.cost %></p>
		<button>Pay Cash</button>
		<button>Pay Card</button>
	</div>
	<div class="cbox">
		<h4>Comments/Questions</h4>
		<form action="/" method="post">
		<textarea>
			
		</textarea><br>
		<input type="submit" value="Submit">
		</form>
	</div>
</div> 