<div class="container">
<h2>Your DM's</h2><br>
<% if @slide != nil %>
<% @dm.each do |por| %>
	<h4><%= @slide.first().namo %></h4>
	<br>
	<p><%= por.content %></p><br>
<% end %>
<% end %>
<form action="create" method="post">
	<input type="hidden" name="id" value="<%= @slide.first().id %>">
	<input type="text" name="content" placeholder="message">
	<input type="submit" value="Reply">
</form>
</div>