<div class="container">
<h2>Your DM's</h2>
<% if @slide != nil %>
<% @slide.each do |por| %>
	<% @mchat.each do |cho| %>
		<h4><%= por.namo %></h4>
		<p><%= cho.receiverId %></p>
		<p><%= cho.content %></p>
		<br>
	<% end %>
<% end %>
<% end %>
<form action="create" method="post">
	<input type="text" name="id" placeholder="id">
	<input type="text" name="content" placeholder="message">
	<input type="submit" value="Submit">
</form>
</div>