<div class="container">
<h2>Your DM's</h2>
<%= @id %>
<% if @slide != nil %>
<% @slide.each do |por| %>
	<p>got here</p>
<% end %>
<% end %>
<form action="create" method="post">
	<input type="text" name="id" placeholder="id">
	<input type="text" name="content" placeholder="message">
	<input type="submit" value="Submit">
</form>
</div>