<div class="container">
<h2>Your DM's</h2>
<% if @slide != nil %>
<% @slide.each do |por| %>
	<h4><%= por.namo %></h4>
	<% if @dms != nil %>
		<p><%= @dms.content %></p>
	<% end %>
<% end %>
<% end %>
</div>