<!-- Main jumbotron for a primary marketing message or call to action -->
<head>
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <style>
    .container {
      font-family: 'Didact Gothic', sans-serif;
    }
    .middle {
      background-color: #37ce44;
    }
    .pserv a {
      text-decoration: none;
    }
    .pserv :hover {
      color: white;
    }
  </style>
</head>
<div class="jumbotron middle">
  <div class="container">
    <h1 class="display-3">Hello, <%= @na.first.namo.capitalize %>!</h1>
    <p>Welcome to Task Rabbit.  Here you can find different services you are looking for just type in the search bar</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="profile">
    <h2>My Profile</h2>
    <% if(session[:user_id] != nil) %>
    <ul style="list-style: none"><% @so.each do |posts| %>
      <% if posts.workerId == session[:user_id] %>
        <li><h4><%= posts.title %></h4>
        <p><%= posts.description %></p>
        <p><%= posts.cost %></p>
      </li>
      <% end %>
      <% end %>
    </ul>

    <button type="button" class="btn btn-outline-success pserv"><a href="/billboard">Post Service</a></button>
    <% end %>
    <h3>Services Used</h3>

  </div>
  <!-- Example row of columns -->
  <div class="rs">
    <h2>You can view recommendations here</h2>
    <ul style="list-style: none;">
      <li></li>
    </ul>
  </div>

</div> <!-- /container -->
<script>
  
</script>
