<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <p>Welcome to Task Rabbit.  Here you can find different services you are looking for just type in the search bar</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <div class="profile">
    <h2>My Profile</h2>
    <% if(session[:user_id] != nil) %>
    <ul><% @so.each do |posts| %>
      <li><h4><%= posts.title %></h4>
        <p><%= posts.description %></p>
        <p><%= posts.cost %></p>
      </li>
      <% end %>
    </ul>
    <% end %>
    <h3>Services Used</h3>

  </div>
  <!-- Example row of columns -->
  <div class="rs">
    <h2>You can view recommendations here</h2>
    <ul>
      <li></li>
    </ul>
  </div>

  <hr>

</div> <!-- /container -->
