<form action="register" method="POST">
	Email: <input type="text" name="email"><br/>
	Name: <input type="text" name="namo"><br/>
	Password: <input type="password" name="password"><br/>
	<input type="submit" value="Register">
</form>